:root {
--primary: #901C1C;
--primary-light: #BF5138;
--secondary: #D3573C;
--faded: hsla(0, 23%, 44%, 0.5);
--drop-shadow: drop-shadow(0.4rem 0.4rem 0.3rem rgba(190, 29, 29, 0.502));
--backdrop: hsla(0, 10%, 80%, 0.7);
--transition: all 2ms ease-in; 
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
}

.photograph-wrapper {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.photograph-wrapper h2 {
    max-width: 358px;
    font-size: 3em;
    color: var(--secondary);
    margin: 0;
}

.photograph-wrapper h4 {
    max-width: 358px;
    font-size: 1.3em;
    color: var(--primary);
}

.photograph-wrapper img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    filter: var(--drop-shadow);
}

.photographer-media {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px;
    gap: 5.9rem;
}

.image-container {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    transition: var(--transition);
}

.image-container img, 
.image-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.media-info {
    margin: 0px;
    color: var(--primary);
}

.media-info h4{
    margin: 0.5rem;
    color: var(--primary);
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}

.like-and-price {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 2rem;
    bottom: 0;
    height: 50px;
    right: 40px;
    width: 300px;
    border-radius: 15px 15px 0 0;
    background-color: var(--secondary);
}
#contact_modal {
    width: 600px;
}

dialog::backdrop {
   background-color: var(--backdrop);
}
.modal {
    border-radius: 5px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#message-label {
    height: 150px;
}

.lightbox-container {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 9;
    background-color: var(--backdrop);
    opacity: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
    transition: var(--transition);
}

.lightbox-container.active {
    opacity: 1;
    pointer-events: all;
}

.lightbox-wrapper {
    background-color: #FAFAFA;
    display: grid;
    place-items: center;
    max-width: 90%;
    max-height: 90%;
    position: relative;
    border-radius: 5px;
    min-width: 800px;
}

.lightbox-wrapper img{
    width: 85%;
    height: 85%;
    max-height: 1150px;
    object-fit: cover;
}

.lightbox-wrapper video {
    width: 85%;
    height: 85%;
    max-height: 1150px;
    object-fit: cover;
    display: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.lightbox-btn {
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    transition: var(--transition);
    transform-origin: 50% 50%;
}

.lightbox-btn:hover, .lightbox-btn:focus {
    transform: scale(1.2);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.lightbox-btn-close {
    top: 10px;
    right: 10px;
}

.lightbox-wrapper h4{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--primary-light);
}